body
{
    margin:0px 0;
}

#particles-js
{
	z-index: -1;
	width: 100vw;
	height: 100vh;
	position:fixed;
}

#youtubeback1, #youtubeback2, #youtubeback3, #youtubeback4, #youtubeback5, #youtubeback6, #youtubeback7, #youtubeback8, #youtubeback9, #youtubeback10, #youtubeback11, #youtubeback12, #youtubeback13, #youtubeback14, #youtubeback15, #youtubeback16, #youtubeback17, #youtubeback18, #youtubeback19, #youtubeback20, #youtubeback21
{
    position: absolute;
    max-width: 30vw;
    max-height: 30vh;
}

h2
{
    font-size: 23px;
    display: flex;
    flex-direction: column;
}

img
{
	max-width: 30vw;
	max-height: 30vh;
}

 .flipper
{
    display :flex;
    border: 3px solid black;
	margin-right: 1.75%;
    margin-left: 1.75%;
    margin-top: 1.75%;
    object-fit: cover;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    max-width: 30vw;
    max-height: 30vh;

}

.front, .back1, .back2, .back3, .back4, .back5, .back6, .back7, .back8, .back9, .back10, .back11, .back12, .back13, .back14, .back15, .back16, .back17, .back18, .back19, .back20, .back21
{
    backface-visibility: hidden;
}

.front
{
    display: flex;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.back1, .back2, .back3, .back4, .back5, .back6, .back7, .back8, .back9, .back10, .back11, .back12, .back13, .back14, .back15, .back16, .back17, .back18, .back19, .back20, .back21
{
    display: flex;
    z-index: 1;
    transform: rotateY(180deg);
}

#flipper1.flip, #flipper2.flip, #flipper3.flip, #flipper4.flip, #flipper5.flip, #flipper6.flip, #flipper7.flip, #flipper8.flip, #flipper9.flip, #flipper10.flip, #flipper11.flip, #flipper12.flip, #flipper13.flip, #flipper14.flip, #flipper15.flip, #flipper16.flip, #flipper17.flip, #flipper18.flip, #flipper19.flip, #flipper20.flip, #flipper21.flip{
    transform: rotateY(180deg);
}

.flipper:hover
{
	border: 3px outset red;
}

#images
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
    perspective: 300vmax;
}

#div1
{
	margin-top: 3vh;
	font-family: "Roboto Slab";
	font-size: 23px;
	display:flex;
	justify-content: center;
}

#div2
{
	margin-top: 5vh;
	display:flex;
	justify-content: center;
	margin-bottom: 1vh;
}

#divbutton
{
    display:flex;
    justify-content: center;
    margin-bottom: 5vh;
}

#div3
{
    margin-top: 5vh;
    display:flex;
    justify-content: center;
    margin-bottom: 5vh;
}

#parametertext
{
    margin-right: 1vw;
}

#ask
{
	display:flex;
	max-width: 30vw;
	height: 3vh;
}
#submit
{
	display:flex;
    min-width: 6vw;
    justify-content: center;
	max-width: 30vw;
	height: 4vh;
}

header {
	background-color:white;
	box-shadow: 0 3px 3px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
footer {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
  
	background-color: white;
	box-shadow: 0 -2px 5px;
}

body {
	min-height:100vh; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */
}

main {
	flex-grow:1; /* 4 */
}